DATABASE_URL=postgresql+asyncpg://postgres:postgres@db.xxxx.supabase.co:6543/postgres
MQTT_HOST=localhost
MQTT_PORT=1883
REDIS_URL=redis://localhost:6379/0
SECRET_KEY=changeme
ACCESS_TOKEN_EXPIRE_MINUTES=480
